<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Prototype MDBootstrap</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.min.css" rel="stylesheet">
  <style type="text/css">
    @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331!important;
            }
        }
  </style>
</head>

<body>
 
  <!-- Navbar -->
  {{page.primary_menu}}  	
  <!-- Navbar -->
 
  <!-- Full Banner Top -->
  {{page.banner}}  
  <!-- Full Banner Top -->

  <!-- Category Top -->
  {{page.category_top}} 
  <!-- Category Top -->

  <!-- Category Bottom -->
  {{page.category_bottom}} 	
  <!-- Category Bottom -->
  
  <!-- Email Bottom -->
  {{page.email_bottom}} 		
  <!-- Email Bottom -->

  <!--Main layout-->
  {{page.content}} 		
  <!--Main layout-->


  <!--Footer-->
  <footer class="page-footer text-center font-small wow fadeIn">

  <!--Footer links-->
  {{page.footer_top}} 
  <!--/.Footer links-->        			

  <hr class="my-4">

   <!--Copyright-->
  {{page.footer_bottom}}   
   <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
  <script type="text/javascript" defer src="js/svgxuse.js"></script> 
</body>

</html>